.match_cards{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.match_card{
    padding:40px 0px 40px 20px;
}
.match_card p{
    text-align: center;
    font-weight: 700;
}
.team{
    display:flex;
    justify-content: space-evenly;
}